.container {
  display: flex;
  height: 500px;
  width: 1000px;
  background-color: black;
  /* align-items: center; */

}

.item {
  height: 300px;
  /* width: 300px; */
}

.green {
  background-color: limegreen;
  width: 25%;

}

.yellow {
  background-color: sandybrown;
  width: 50%;
}

.purple {
  background-color: blueviolet;
  width: 25%;
}
