* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.images {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-top: 100px;
  align-items: center;
}

.images img {
 width: 12%; 
}